.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ViewAllCard{
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  z-index: 0;
  position: relative;
}


.CardContainer{
  width: 100%
}

.Arena{
 display: flex;
  flex-direction: row;
}

.PokeBallCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.pngitem.com/pimgs/m/107-1075267_open-pokeball-png-pokemon-ball-open-png-transparent.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 150vh;
}
.PokeBall{
  margin-top: 5%;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.input{
  background-color: grey;
}